In [25]:
import pickle
import pandas as pd

In [26]:
training_data = pd.read_csv('./training_data.csv')
training_data.sample(10)

,user_id,movie_id,rating,title,genre,age,gender,occupation
622,13,526,3,Ben-Hur (1959),7,47,1,0
700,13,625,2,"Sword in the Stone, The (1963)",3,47,1,0
231,405,239,3,Sneakers (1992),5,22,0,1
446,655,166,3,Manon of the Spring (Manon des sources) (1986),7,50,0,1
794,13,363,3,Sudden Death (1995),0,47,1,0
19,405,692,5,"American President, The (1995)",4,22,0,1
371,655,744,2,Michael Collins (1996),7,50,0,1
557,655,1196,3,"Savage Nights (Nuits fauves, Les) (1992)",7,50,0,1
152,405,623,1,Angels in the Outfield (1994),3,22,0,1
223,405,1018,1,Tie Me Up! Tie Me Down! (1990),7,22,0,1

In [27]:
test_data = pd.read_csv('./test_data.csv')
test_data.sample(10)

,user_id,movie_id,rating,title,genre,age,gender,occupation
469,13,663,5,Being There (1979),4,47,1,0
203,655,1647,3,Hana-bi (1997),4,50,0,1
163,405,621,1,"Davy Crockett, King of the Wild Frontier (1955)",17,22,0,1
434,13,435,5,Butch Cassidy and the Sundance Kid (1969),4,47,1,0
318,655,467,3,"Bronx Tale, A (1993)",7,50,0,1
218,655,1375,3,"Cement Garden, The (1993)",7,50,0,1
199,405,1246,1,Bushwhacked (1995),4,22,0,1
328,655,236,3,Citizen Ruth (1996),4,50,0,1
405,13,874,5,Career Girls (1997),7,47,1,0
403,13,349,1,Hard Rain (1998),15,47,1,0

In [28]:
valid_data = pd.read_csv('./valid_data.csv')
valid_data.sample(10)

,user_id,movie_id,rating,title,genre,age,gender,occupation
221,655,741,3,"Last Supper, The (1995)",7,50,0,1
456,13,264,4,Mimic (1997),14,47,1,0
362,655,45,3,Eat Drink Man Woman (1994),4,50,0,1
135,405,143,5,"Sound of Music, The (1965)",11,22,0,1
533,13,749,3,"MatchMaker, The (1997)",4,47,1,0
284,655,507,4,"Streetcar Named Desire, A (1951)",7,50,0,1
423,13,87,5,Searching for Bobby Fischer (1993),7,47,1,0
500,13,288,1,Scream (1996),10,47,1,0
572,13,515,2,"Boot, Das (1981)",7,47,1,0
467,13,307,2,"Devil's Advocate, The (1997)",12,47,1,0

In [29]:
with open('./recommendations.pkl', 'rb') as f:
    recommendations = pickle.load(f)
    
recommendations

defaultdict(list,
            {655: [(-5, 423),
              (np.float64(-4.513134781147648), 56),
              (np.float64(-4.513134781147648), 467),
              (np.float64(-4.513134781147648), 624),
              (np.float64(-4.486865218852351), 186),
              (np.float64(-3.973730437704704), 452),
              (np.float64(-3.539404343442944), 519),
              (np.float64(-3.973730437704704), 73),
              (np.float64(-3.973730437704704), 673),
              (np.float64(-3.513134781147648), 72),
              (np.float64(-1.0), 217),
              (np.float64(-3.026269562295296), 226),
              (np.float64(-3.513134781147648), 88),
              (np.float64(-3.486865218852352), 90),
              (np.float64(-2.0262695622952966), 308),
              (np.float64(-3.052539124590593), 570),
              (np.float64(-3.973730437704704), 318),
              (np.float64(-3.513134781147648), 178),
              (np.float64(-2.5394043434429445), 720),
              (np.float64(-1.9737304377047034), 780),
              (np.float64(-3.052539124590593), 212),
              (np.float64(-1.0), 437),
              (np.float64(-1.0), 440),
              (np.float64(-2.0262695622952966), 2),
              (np.float64(-2.947460875409407), 451),
              (np.float64(-2.513134781147648), 230),
              (np.float64(-3.052539124590593), 514),
              (np.float64(-3.486865218852352), 232),
              (np.float64(-3.052539124590593), 530),
              (np.float64(-2.0262695622952966), 540),
              (np.float64(-2.0262695622952966), 548),
              (np.float64(-2.0), 40),
              (np.float64(-3.026269562295296), 588),
              (np.float64(-2.0262695622952966), 396),
              (np.float64(-2.4868652188523517), 625),
              (np.float64(-3.052539124590593), 652),
              (np.float64(-3.052539124590593), 414),
              (np.float64(-2.513134781147648), 416),
              (np.float64(-1.513134781147648), 759),
              (np.float64(-1.513134781147648), 776),
              (np.float64(-1.513134781147648), 421),
              (np.float64(-1.0), 788),
              (np.float64(-1.513134781147648), 812)],
             405: [(np.float64(-4.5011713456706355), 48),
              (np.float64(-4.5011713456706355), 483),
              (np.float64(-4.5011713456706355), 64),
              (np.float64(-4.00234269134127), 100),
              (np.float64(-4.00234269134127), 124),
              (np.float64(-4.0), 167),
              (np.float64(-4.00234269134127), 208),
              (np.float64(-3.5035140370119056), 215),
              (np.float64(-4.00234269134127), 509),
              (np.float64(-3.5035140370119056), 685),
              (np.float64(-4.00234269134127), 150),
              (np.float64(-2.9976573086587295), 344),
              (np.float64(-3.5035140370119056), 161),
              (np.float64(-3.4988286543293645), 198),
              (np.float64(-3.501171345670635), 14),
              (np.float64(-3.501171345670635), 42),
              (np.float64(-2.9999999999999996), 505),
              (np.float64(-3.501171345670635), 97),
              (np.float64(-3.501171345670635), 612),
              (np.float64(-3.501171345670635), 694),
              (np.float64(-3.00234269134127), 805),
              (np.float64(-4.0), 303),
              (np.float64(-4.00234269134127), 887),
              (np.float64(-2.501171345670635), 918),
              (np.float64(-2.9953146173174594), 320),
              (np.float64(-3.501171345670635), 345),
              (np.float64(-2.0), 354),
              (np.float64(-2.9999999999999996), 385),
              (np.float64(-3.00234269134127), 402),
              (np.float64(-2.0), 405),
              (np.float64(-2.0), 476),
              (np.float64(-1.9976573086587295), 24),
              (np.float64(-3.501171345670635), 498),
              (np.float64(-1.9976573086587295), 271),
              (np.float64(-2.9999999999999996), 508),
              (np.float64(-3.4988286543293645), 273),
              (np.float64(-2.9976573086587295), 610),
              (np.float64(-2.501171345670635), 281),
              (np.float64(-2.9999999999999996), 632),
              (np.float64(-2.498828654329365), 289),
              (np.float64(-2.9999999999999996), 27),
              (np.float64(-2.498828654329365), 294),
              (np.float64(-2.9999999999999996), 782),
              (np.float64(-2.501171345670635), 831),
              (np.float64(-1.9976573086587295), 875),
              (np.float64(-3.501171345670635), 319),
              (np.float64(-2.501171345670635), 906),
              (np.float64(-1.9976573086587295), 25)],
             13: [(np.float64(-4.4880358282301955), 50),
              (np.float64(-4.4880358282301955), 172),
              (np.float64(-3.9760716564603915), 210),
              (np.float64(-3.9760716564603915), 732),
              (np.float64(-3.9760716564603915), 527),
              (np.float64(-2.511964171769804), 654),
              (np.float64(-3.0239283435396085), 216),
              (np.float64(-3.0478566870792174), 904),
              (np.float64(-3.0), 1045),
              (np.float64(-3.0), 1074),
              (np.float64(-3.488035828230196), 521),
              (np.float64(-2.023928343539609), 188),
              (np.float64(-2.023928343539609), 207),
              (np.float64(-2.511964171769804), 693),
              (np.float64(-2.023928343539609), 87),
              (np.float64(-2.488035828230196), 239),
              (np.float64(-2.9760716564603915), 393),
              (np.float64(-2.023928343539609), 175),
              (np.float64(-2.511964171769804), 1046),
              (np.float64(-2.535892515309413), 179),
              (np.float64(-2.023928343539609), 522),
              (np.float64(-2.023928343539609), 1221),
              (np.float64(-2.535892515309413), 183),
              (np.float64(-2.0), 53),
              (np.float64(-2.023928343539609), 647),
              (np.float64(-2.023928343539609), 656),
              (np.float64(-2.023928343539609), 670),
              (np.float64(-2.023928343539609), 92),
              (np.float64(-2.023928343539609), 700),
              (np.float64(-2.023928343539609), 707),
              (np.float64(-1.5119641717698042), 726),
              (np.float64(-1.5119641717698042), 51),
              (np.float64(-2.023928343539609), 753),
              (np.float64(-1.5119641717698042), 778),
              (np.float64(-2.023928343539609), 228),
              (np.float64(-2.023928343539609), 959),
              (np.float64(-1.0), 1029),
              (np.float64(-2.023928343539609), 449),
              (np.float64(-2.488035828230196), 70),
              (np.float64(-2.023928343539609), 77),
              (np.float64(-2.023928343539609), 1099),
              (np.float64(-2.023928343539609), 1108),
              (np.float64(-2.023928343539609), 1167),
              (np.float64(-1.5119641717698042), 525),
              (np.float64(-2.023928343539609), 1421),
              (np.float64(-2.535892515309413), 1585)]})

In [30]:
recommendations_dict = {
    'user_id': [],
    'movie_id' : [],
    'imputed_rating': [],
}
for user_id, recommendation_list in recommendations.items():
    recommendations_dict['user_id'] += ([user_id] * len(recommendation_list))
    recommendations_dict['movie_id'] += ([recommendation[1] for recommendation in recommendation_list])
    recommendations_dict['imputed_rating'] += ([-recommendation[0] for recommendation in recommendation_list])


recommendations_df = pd.DataFrame(recommendations_dict)
recommendations_df.sample(10)

     user_id  movie_id  imputed_rating
128       13       449        2.023928
32       655       588        3.026270
131       13      1099        2.023928
78       405       273        3.498829
73       405       476        2.000000
133       13      1167        2.023928
74       405        24        1.997657
62       405       694        3.501171
36       655       414        3.052539
94        13       732        3.976072

In [31]:
recommendations_df.shape

(137, 3)

In [32]:
test_merged_df = recommendations_df.merge(right=test_data, how='inner', on=['user_id', 'movie_id'])
print(test_merged_df.shape)
test_merged_df

(24, 9)

,user_id,movie_id,imputed_rating,rating,title,genre,age,gender,occupation
0,655,423,5.000000,3,E.T. the Extra-Terrestrial (1982),3,50,0,1
1,655,467,4.513135,3,"Bronx Tale, A (1993)",7,50,0,1
2,655,186,4.486865,3,"Blues Brothers, The (1980)",4,50,0,1
3,655,178,3.513135,4,12 Angry Men (1957),7,50,0,1
4,655,212,3.052539,3,"Unbearable Lightness of Being, The (1988)",7,50,0,1
5,655,2,2.026270,3,GoldenEye (1995),15,50,0,1
6,655,514,3.052539,5,Annie Hall (1977),13,50,0,1
7,655,396,2.026270,2,Serial Mom (1994),5,50,0,1
8,405,161,3.503514,1,Top Gun (1986),0,22,0,1
9,405,198,3.498829,2,Nikita (La Femme Nikita) (1990),15,22,0,1
10,405,303,4.000000,1,Ulee's Gold (1997),7,22,0,1
11,405,385,3.000000,1,True Lies (1994),1,22,0,1
12,405,27,3.000000,1,Bad Boys (1995),0,22,0,1
13,13,210,3.976072,3,Indiana Jones and the Last Crusade (1989),0,47,1,0
14,13,732,3.976072,5,Dave (1993),13,47,1,0
15,13,527,3.976072,5,Gandhi (1982),7,47,1,0
16,13,654,2.511964,5,Chinatown (1974),15,47,1,0
17,13,216,3.023928,3,When Harry Met Sally... (1989),13,47,1,0
18,13,179,2.535893,2,"Clockwork Orange, A (1971)",14,47,1,0
19,13,183,2.535893,4,Alien (1979),15,47,1,0
20,13,656,2.023928,5,M (1931),9,47,1,0
21,13,92,2.023928,3,True Romance (1993),13,47,1,0
22,13,51,1.511964,3,Legends of the Fall (1994),17,47,1,0
23,13,449,2.023928,4,Star Trek: The Motion Picture (1979),1,47,1,0

In [33]:
valid_merged_df = recommendations_df.merge(right=valid_data, how='inner', on=['user_id', 'movie_id'])
print(valid_merged_df.shape)
valid_merged_df

(32, 9)

,user_id,movie_id,imputed_rating,rating,title,genre,age,gender,occupation
0,655,56,4.513135,3,Pulp Fiction (1994),5,50,0,1
1,655,673,3.973730,3,Cape Fear (1962),15,50,0,1
2,655,226,3.026270,3,Die Hard 2 (1990),15,50,0,1
3,655,88,3.513135,2,Sleepless in Seattle (1993),13,50,0,1
4,655,318,3.973730,4,Schindler's List (1993),7,50,0,1
5,655,451,2.947461,3,Grease (1978),4,50,0,1
6,405,48,4.501171,1,Hoop Dreams (1994),6,22,0,1
7,405,64,4.501171,5,"Shawshank Redemption, The (1994)",7,22,0,1
8,405,208,4.002343,5,Young Frankenstein (1974),10,22,0,1
9,405,215,3.503514,5,Field of Dreams (1989),7,22,0,1
10,405,509,4.002343,1,My Left Foot (1989),7,22,0,1
11,405,42,3.501171,1,Clerks (1994),4,22,0,1
12,405,97,3.501171,2,Dances with Wolves (1990),1,22,0,1
13,405,694,3.501171,1,Persuasion (1995),13,22,0,1
14,405,402,3.002343,3,Ghost (1990),15,22,0,1
15,405,782,3.000000,1,Little Odessa (1994),7,22,0,1
16,13,50,4.488036,5,Star Wars (1977),1,47,1,0
17,13,172,4.488036,5,"Empire Strikes Back, The (1980)",7,47,1,0
18,13,904,3.047857,1,Ma vie en rose (My Life in Pink) (1997),4,47,1,0
19,13,188,2.023928,4,Full Metal Jacket (1987),16,47,1,0
20,13,87,2.023928,5,Searching for Bobby Fischer (1993),7,47,1,0
21,13,239,2.488036,4,Sneakers (1992),5,47,1,0
22,13,393,2.976072,3,Mrs. Doubtfire (1993),4,47,1,0
23,13,175,2.023928,4,Brazil (1985),14,47,1,0
24,13,522,2.023928,5,Down by Law (1986),4,47,1,0
25,13,53,2.000000,1,Natural Born Killers (1994),15,47,1,0
26,13,647,2.023928,5,Ran (1985),7,47,1,0
27,13,670,2.023928,3,Body Snatchers (1993),10,47,1,0
28,13,778,1.511964,3,Don Juan DeMarco (1995),7,47,1,0
29,13,228,2.023928,4,Star Trek: The Wrath of Khan (1982),1,47,1,0
30,13,70,2.488036,3,Four Weddings and a Funeral (1994),13,47,1,0
31,13,525,1.511964,5,"Big Sleep, The (1946)",12,47,1,0

In [34]:
test_merged_df['rating_diff'] = abs(test_merged_df['rating'] - test_merged_df['imputed_rating'])
test_merged_df['rating_diff'].mean()

np.float64(1.4350563009631)

In [35]:
valid_merged_df['rating_diff'] = abs(valid_merged_df['rating'] - valid_merged_df['imputed_rating'])
valid_merged_df['rating_diff'].mean()

np.float64(1.5323636221844885)

In [36]:
for user_id in recommendations.keys():
    print(f'User {user_id}\'s MAE on test dataset:', test_merged_df.loc[test_merged_df['user_id'] == user_id]['rating_diff'].mean())
    print(f'User {user_id}\'s MAE on valid dataset:', valid_merged_df.loc[valid_merged_df['user_id'] == user_id]['rating_diff'].mean())
    print()

User 655's MAE on test dataset: 1.060858152356544
User 655's MAE on valid dataset: 0.6841797081968641

User 405's MAE on test dataset: 2.200468538268254
User 405's MAE on valid dataset: 1.8002342691341269

User 13's MAE on test dataset: 1.359285755720071
User 13's MAE on valid dataset: 1.6830134355863233

In [37]:
mape = (test_merged_df['rating_diff'] / test_merged_df['rating']).mean() * 100
accuracy_mape = 100 - mape 
accuracy_mape

np.float64(30.953689508010086)

In [38]:
mape = (valid_merged_df['rating_diff'] / valid_merged_df['rating']).mean() * 100
accuracy_mape = 100 - mape 
accuracy_mape

np.float64(21.655892498473833)

In [60]:
import numpy as np

def apk(actual, predicted, k=5):
    """
    Computes the average precision at k.
    Parameters
    ----------
    actual : list
             A list of relevant items.
    predicted : list
                A list of predicted items, ordered by relevance.
    k : int, optional
        The maximum number of predicted items to consider.
    Returns
    -------
    score : float
            The average precision at k for a single user.
    """
    if not actual:
        return 0.0

    if len(predicted) > k:
        predicted = predicted[:k]

    score = 0.0
    num_hits = 0.0

    for i, p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i + 1.0)

    return score / min(len(actual), k)

def mapk(actual, predicted, k=5):
    """
    Computes the mean average precision at k across multiple users.
    Parameters
    ----------
    actual : list of lists
             A list where each element is a list of relevant items for a user.
    predicted : list of lists
                A list where each element is a list of predicted items for a user.
    k : int, optional
        The maximum number of predicted items to consider for each user.
    Returns
    -------
    score : float
            The mean average precision at k.
    """
    return np.mean([apk(a, p, k) for a, p in zip(actual, predicted)])

In [61]:
test_actual = []
valid_actual = []

ordered_recommendations = []

for user_id in recommendations.keys():
    test_actual.append(list(test_data.loc[test_data['user_id'] == user_id]['movie_id'].values))
    valid_actual.append(list(valid_data.loc[valid_data['user_id'] == user_id]['movie_id'].values))

    ordered_recommendations.append([np.int64(t[1]) for t in recommendations[user_id]])

In [62]:
mapk(test_actual, ordered_recommendations)

np.float64(0.24666666666666667)

In [63]:
mapk(valid_actual, ordered_recommendations)

np.float64(0.2777777777777778)